<div class="containaer">
  <div class="row">
    <div class="col-md-3">
      <div class="col">
        <%= render 'layouts/userinfo', user: current_user %>
      </div>
      <div class="col">
        <%= render 'layouts/newbook', book: @booknew %>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>title</th>
            <th>body</th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <tr>
            <td><%= image_tag user.get_profile_image(100,100) %></td>
            <td><%= user.name %></td>
            <td><%= link_to user_path(user) do %>show<% end %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>