<div class="containaer">
  <div class="row">
    <div class="col-md-3">
      <div class="col">
        <%= render 'layouts/userinfo', user: @user %>
      </div>
      <div class="col">
        <%= render 'layouts/newbook', book: @booknew %>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>title</th>
            <th>body</th>
          </tr>
        </thead>
        <% @books.each do |book| %>
        <tbody>
          <tr>
            <td><%= image_tag book.user.get_profile_image(100,100) %></td>
            <td><%= link_to book_path(book) do %><%= book.title %><% end %></td>
            <td><%= book.body %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>